body {
    background: #334;
    color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 10rem;
}

h1,
.dev-button-wrapper,
.dev-button-wrapper + div {
    text-align: center;
}

.dev-button-wrapper {
    margin-bottom: 8px;
}

.ca-modal h4 {
    font-size: 16pt;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
}

.ca-modal h5 {
    font-size: 12pt;
    color: #333;
    width: 80%;
    margin: 0 auto;
    padding: 15px 0 20px;
    text-align: center;
}

.ca-modal p {
    font-size: 10pt;
    font-style: italic;
    color: #333;
    margin: 0 auto;
    text-align: center;
}

.ca-modal {
    color: #060607;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2147483647;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    animation-name: animate;
    animation-duration: 0.5s;
}

@keyframes animate {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.ca-modal-content {
    background-color: LightSkyBlue;
    background-image: linear-gradient(
        -5deg,
        DodgerBlue,
        LightSkyBlue,
        GhostWhite,
        white
    );
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    width: 700px;
    height: 359px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    animation-name: animatetop;
    animation-duration: 0.5s;
}

@keyframes animatetop {
    from {
        top: -100%;
    }

    to {
        top: 0;
    }
}

.ca-modal-logo {
    display: block;
    margin: 20px auto 15px;
    width: 80%;
}

.ca-modal-cover {
    float: left;
    max-height: 100%;
}

.ca-modal-exout {
    display: block;
    height: 0;
    transform: translate(-5px, -55px);
    color: #444;
    font-size: 24pt;
    font-weight: bold;
    user-select: none;
}

.ca-modal-exout:hover,
.ca-modal-exout:focus {
    color: #e11;
    cursor: pointer;
}

.ca-modal-subscribe {
    display: flex;
    justify-content: center;
    border: none;
    width: 90%;
    margin: auto;
    cursor: pointer;
}

.ca-modal-subscribe > span {
    font-weight: 700;
    padding: 12px 16px;
    transition: background-color 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    white-space: nowrap;
}

.ca-modal-subscribe > span:first-child {
    font-size: 24px;
    line-height: 1;
    color: #fff;
    background: #003592;
}

.ca-modal-subscribe > span:last-child {
    font-size: 16px;
    line-height: 1.5;
    color: #003592;
    background: #fff;
}

.ca-modal-subscribe:hover > span:first-child {
    background: #026;
}

.ca-modal-subscribe:hover > span:last-child {
    background: #ccc;
}

.ca-modal-part {
    float: right;
    width: 57%;
}

@media (max-width: 768px) {
    .ca-modal h4 {
        display: block;
        padding: 0;
        width: 80%;
    }

    .ca-modal h5 {
        display: block;
        width: 90%;
        padding: 0;
        margin: 10px auto 15px;
    }

    .ca-modal p {
        display: none;
    }

    .ca-modal-content {
        width: 300px;
        height: 472px;
        padding: 15px 0;
    }

    .ca-modal-part {
        float: left;
        width: 100%;
    }

    .ca-modal-logo {
        display: none;
    }

    .ca-modal-cover {
        display: block;
        margin: auto;
        width: 70%;
        float: none;
    }

    .ca-modal-exout {
        transform: translate(-15px, -5px);
        float: right;
    }

    .ca-modal-subscribe {
        margin: 15px auto 0;
    }
}
